/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: rgb(241, 239, 214);
}

p {
  line-height: 50px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
h4 {
  font-size: 45px;
  font-family: 'Shadows Into Light', cursive;
}

h5 {
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
}

#social {
  color: black;
  font-weight: 600;
  font-size: 40px;
}

.sidenav-trigger {
  color: #090500;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: whitesmoke;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.datepicker-date-display {
  background: rgba(255, 127, 80, 0.023);
}
.datepicker-calendar-container {
  color: rgba(146, 103, 9, 0);
}
.is-today {
  color: rgba(255, 127, 80, 0.023) !important;
}
.datepicker-table td.is-selected {
  background: gray !important;
}
.datepicker-cancel,
.datepicker-done {
  color: rgb(47, 47, 65);
}


.bold {
  font-weight: bold;
}

.fontSizeBig {
  font-size: 40px;
  color: rgb(165, 4, 4);
  font-weight: bolder;
}
